
    <div class="row">
        <div class="span3">
            Search: <input ng-model="query">
        </div>
        <div class="span9">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr ng-repeat="rappel in rappels | filter:query | orderBy:orderProp">
                        <td>
                            <address>
                                <strong>{{rappel.name}}</strong><br>
                                <a href="#/rappels/{{phone.id}}">Detail</a>
                            </address>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>